# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [16]:
%pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp311-cp311-win_amd64.whl (9.2 MB)
     ---------------------------------------- 9.2/9.2 MB 2.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.24.2)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: pandas>=1.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.0.0)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.3 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\usuario\appdata\roaming\python\python311\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import numpy as np
import pandas as pd

import scipy.stats as stats
from scipy.stats import ttest_1samp
from scipy.stats import sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [18]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [19]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [20]:
salaries.shape

(33183, 8)

In [21]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [22]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [23]:
salaries['Department'].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [24]:
select = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
select.head(10)

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
19    46.10
21    21.43
24    35.60
26    25.10
33    20.00
Name: Hourly Rate, dtype: float64

In [25]:
t_test = ttest_1samp(select, 30, alternative='two-sided')

t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [26]:
# Con el valor pvalue se podría indicar que la hipótesis nula se rechaza. Es decir, con una probabilidad incluso mayor del 95% de intervalo de confianza el salario de los trabajadores por horas es diferente a 30$/h.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [27]:
polis = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate']
polis.head(10)

1811     9.27
3261     9.27
4991     9.46
9952     9.46
11580    9.27
19135    9.46
20104    9.46
20159    9.46
24060    9.27
30174    9.46
Name: Hourly Rate, dtype: float64

In [28]:
t_test = ttest_1samp(polis, 860000, alternative='less')

t_test

TtestResult(statistic=-27717607.79976017, pvalue=2.6365689195891527e-64, df=9)

In [29]:
# Con este resultado podemos comprobar que la hipótesis nula se rechaza de nuevo con una confianza mayor del 95% siendo la media de los salarios es mayor que el año anterior.

Using the `crosstab` function, find the department that has the most hourly workers.

In [30]:
cross = pd.crosstab(index=salaries['Department'], columns=salaries['Salary or Hourly'], values=salaries['Hourly Rate'], aggfunc=sum)
cross.head()

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG            NaN     0.0
ANIMAL CONTRL        470.82     0.0
AVIATION           38555.89     0.0
BOARD OF ELECTION       NaN     0.0
BOARD OF ETHICS         NaN     0.0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [31]:
cross['Hourly'].max()

63816.37

In [32]:
valor = 63816.37
filas_coincidentes = cross[cross['Hourly'] == valor].index         
data_seleccionado = cross.loc[filas_coincidentes, ['Hourly', 'Salary']]

data_seleccionado.head()

Salary or Hourly    Hourly  Salary
Department
WATER MGMNT       63816.37     0.0

In [33]:
wm = salaries[(salaries['Department'] == 'WATER MGMNT') & salaries['Hourly Rate'].notnull()]['Hourly Rate']
wm

40       45.07
42       44.88
52       48.25
96       47.50
182      40.20
         ...
33103    40.20
33104    35.60
33132    48.25
33158    40.20
33169    35.60
Name: Hourly Rate, Length: 1513, dtype: float64

In [34]:
t_test = ttest_1samp(wm, 35, alternative='greater')

t_test

TtestResult(statistic=43.413059315519625, pvalue=2.519213651291806e-268, df=1512)

In [35]:
# Con la anterior pval podríamos deducir que se rechaza la hipótesis nula, lo cual quiere decir que el cobro por hora es menor que 35$7h.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [36]:
cuanto = salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate']

cuanto.mean()

32.78855771628024

In [37]:
stats.t.interval(0.95,                  
           len(cuanto)-1,    
           loc=select.mean(),  # media
           scale=sem(cuanto))

(32.52345834488425, 33.05365708767623)

In [38]:
# Estos intervalos representan la probabilidad de que la media esté entre esos valores que son un 95%.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [39]:
stats.t.interval(0.95,                  
           len(polis)-1,    
           loc=polis.mean(),  # media
           scale=sem(polis))

(9.31381234362183, 9.45418765637817)

In [40]:
polis.mean()

9.384

In [41]:
len(polis)

10

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [42]:
bien = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
bien

8022

In [43]:
z_score, p_value= proportions_ztest(bien,      
                                    len(salaries['Salary or Hourly']),  
                                    0.25            
                                   ) 

z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [44]:
#help(proportions_ztest)

In [45]:
# Del total de valores de la columna de salaraios por hora, los que cobran por hora representan algo diferente al 25%.